/* 
Title:		Master styles for screen media on iPhone
Author: 	richie@wingtipmarketing.com
*/
/* iphone.css */

h1 {
	font-size: 5.0em;
}

h3 {
	font-size: 2.2em; line-height: 1.18em;
}

h5 {
	font-size: 8em;
}

h6 {
	font-size: 1.4em;
}

p {
	font-size: 1.2em;

}
.logo {
	width: 100%;
	}

#footer {
	line-height: 1.25;
}
