html {
	background: url('http://webimages.mailchimp.com/img/classic/tile_home.jpg') repeat-x top left;
	width: 100%;
}
html.interior {
	background: url('http://webimages.mailchimp.com/img/tile_interior.gif') repeat-x top left;
}
body {
	/* Home Page */
	background: url('http://webimages.mailchimp.com/img/classic/bg_campaign.jpg') no-repeat 50% 116px;
	font-family: "Lucida Grande","Lucida Sans Unicode", Arial, Verdana,sans-serif;
	font-size: 12px;
	line-height: 160%;
	color: #666;
}
.interior body {
	/* Interior Pages */
	background: none;
}
#header {
	height: 118px;
	margin: 0 auto;
	width: 928px;
        position: relative;
}
#logo {
	margin-top: 10px;
	display: block;
	width: 190px;
	float: left;
}
#search {
	background:transparent url(http://webimages.mailchimp.com/img/search-input.gif) no-repeat scroll 20px 2px;
        bottom:6px;
        height:30px;
        position:absolute;
        right:0;
        width:225px;
}
input#keywords, input#keywords:focus {
	padding: 3px 4px;
	border: 0px;
	background-color: transparent;
	margin-top: 5px;
	font-size: 11px;
	width: 130px;
	margin-left: 27px;
	letter-spacing: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
}
input#submitquery {
	background-color: transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 10px;
	height: 27px;
	min-width: 53px;
	padding: 0;
	position: absolute;
	right: 0;
	text-indent: -999em;
	top: 0;
	width:53px;
}
#login { 
	position:relative;
	top:10px;
	list-style:none;
	width:283px;
	height:56px;
	padding:0;
	margin:0 1px 0 0;
        position:absolute;
        right:0px;
        top:10px;
        width:283px;
}
#login ul {
	width:283px;
	height:56px;
	padding:0;
	display: block;
}
#login li { 
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width: 136px;
	height: 56px;
}
#login li a { 
	background: url('http://webimages.mailchimp.com/img/home/signup_login_bg.gif') top left no-repeat;
	text-indent:-999em;
	padding:0;
	display:block;
	height:56px;
}
#login li.signup a { 
	background-position:top right;
	width:147px;
}
#login li.signup a:hover { 
	background-position:bottom right;
	width:147px;
}
#login li.login a {
	width:136px;
}
#login li.login a:hover {
	width:136px;
	background-position:bottom left;
}
#nav { 
	clear: both;
	float: left;
	height: 40px;
	margin: 2px 0 0;
	position: relative;
	width: 700px;
}
#nav li {
	margin:0;
	list-style:none;
	padding:0;
	line-height:1.4em;
	display:block;
	position:absolute;
	top:0;
	height:39px;
	width:auto;
}
#nav li a {
	text-indent: -999em;
	display: block;
	height: 39px;
	background: url('http://webimages.mailchimp.com/img/global_nav.gif') no-repeat;
}
#nav a:link, #nav a:visited, #nav a:active {
	
} 
#nav a:hover {
	
}
/* Needs to be converted to text, excessive styles */
ul#nav li.features{width:102px;left:0px;}
ul#nav li.pricing{width:89px;left:102px;}
ul#nav li.customers{width:115px;left:191px;}
ul#nav li.resources{width:114px;left:306px;}
ul#nav li.support{width:101px;left:420px;}
ul#nav li.about{width:105px;left:521px;}
ul#nav li.blog{width:75px;left:625px;}
ul#nav li.features a{width:102px;background-position:0px 0px;}
ul#nav li.features a:hover{width:102px;background-position:0px -39px;}
ul#nav li.features a.selected,ul#global_nav li.features a.selected:hover{width:102px;background-position:0px -78px;}
ul#nav li.pricing a{width:89px;background-position:-102px 0px;}
ul#nav li.pricing a:hover{width:89px;background-position:-102px -39px;}
ul#nav li.pricing a.selected,ul#global_nav li.pricing a.selected:hover{background-position:-102px -78px;}
ul#nav li.customers a{width:115px;background-position:-191px 0px;}
ul#nav li.customers a:hover{width:115px;background-position:-191px -39px;}
ul#nav li.customers a.selected,ul#global_nav li.customers a.selected:hover{background-position:-191px -78px;}
ul#nav li.resources a{width:114px;background-position:-306px 0px;}
ul#nav li.resources a:hover{width:114px;background-position:-306px -39px;}
ul#nav li.resources a.selected,ul#global_nav li.resources a.selected:hover{background-position:-306px -78px;}
ul#nav li.support a{width:101px;background-position:-420px 0px;}
ul#nav li.support a:hover{width:101px;background-position:-420px -39px;}
ul#nav li.support a.selected,ul#global_nav li.support a.selected:hover{background-position:-420px -78px;}
ul#nav li.about a{width:105px;background-position:-521px 0px;}
ul#nav li.about a:hover{width:105px;background-position:-521px -39px;}
ul#nav li.about a.selected,ul#global_nav li.about a.selected:hover{background-position:-521px -78px;}
ul#nav li.blog a{width:75px;background-position:-625px 0px;}
ul#nav li.blog a:hover{width:75px;background-position:-625px -39px;}
ul#nav li.blog a.selected,ul#global_nav li.blog a.selected:hover{background-position:-625px -78px;}

h2 {
	font-family: "Trebuchet MS",serif;
	font-size: 22px;
	color: #336699;
	font-weight: bold;
}
/* Campaign */
#campaign {
	width: 958px;
	height: 360px;
	margin: 0 auto;
	color: #85ccff;
    position: relative;
}
#campaign h1 {
	margin: 40px 0 25px 440px;
	font-size: 48px;
	line-height: 52px;
	font-weight: bold;
}
#campaign h1 em {
	display: block;
	line-height: 40px;
	font-style: normal;
	color: #FFF;
}
#campaign p.tagline {
	margin-left: 443px;
	font-size: 20px;
	line-height: 26px;
}
p.tagline a {
	text-decoration: none;
	color: #FFF;
}
p.tagline em {
	color: #FFF;
	font-style: normal;
}
#call_to_action {
	float: right;
	margin-top: 55px;
	font-family: "Trebuchet MS",serif;
	margin-right: 8px;
}
#call_to_action a {
	float: left;
	width: 244px;
	height: 77px;
	text-align: center;
	line-height: 77px;
	font-size: 24px;
	margin-right: 20px;
	text-decoration: none;
	color: #FFF;
    text-transform: uppercase;
}
#call_to_action a.signup {
	background: transparent url('http://webimages.mailchimp.com/img/classic/btn_signup_demo.png') no-repeat scroll top left;
	text-shadow: 1px 1px 1px #a37226;
}
#call_to_action a.demo {
	background: transparent url('http://webimages.mailchimp.com/img/classic/btn_signup_demo.png') no-repeat scroll top right;
	text-shadow: 1px 1px 1px #2e77ad;
}

/* Global Page Styles */
#page {
	width: 958px;
	margin: 0 auto;
        clear: both;
	font-size: 16px;
	line-height: 24px;
}
/* Home Page Styles */
#pricing_features {
	float: left;
	margin: 36px 0 50px 0;
}
#pricing_features h2 {
	margin-bottom: 15px;
	margin-top: 8px;
}
#pricing_features h3 {
	font-style: italic;
	font-size: 22px;
	line-height: 160%;
}
#pricing_features h3 strong {
	font-style: normal;
	font-weight: bold;
}
a#btn_pricing, #marketing a {
	background: transparent url('http://webimages.mailchimp.com/img/home/btn_home_gray.gif') no-repeat center center;
	display: block;
	width: 243px;
	height: 32px;
	line-height: 32px;
	color:#666666;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	margin-bottom: 70px;
	margin-top: 30px;
}
a#btn_pricing span, #marketing a span {
	padding-left: 20px;
}
a#btn_pricing:link {
	color: #666;
	font-size: 14px;
}
ul.features li {
	height: 50px;
	line-height: 50px;
	padding-left: 45px;
}
ul.features a:link, ul.features a:visited, ul.features a:active {
	color: #666;
	text-decoration: none;
}
ul.features a:hover {
	color: #333;
	text-decoration: underline;
}
.features .design{background:url('http://webimages.mailchimp.com/img/pttp/home/icon_design.jpg') no-repeat center left;}
.features .list{background:url('http://webimages.mailchimp.com/img/pttp/home/icon_manage.jpg') no-repeat center left;}
.features .send{background:url('http://webimages.mailchimp.com/img/pttp/home/icon_inbox.jpg') no-repeat center left;}
.features .track{background:url('http://webimages.mailchimp.com/img/pttp/home/icon_track.jpg') no-repeat center left;}
#promotions {
	background: #FFF;
	width: 560px;
	float: right;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 50px;
}
#social {
	padding: 32px;
}
#social blockquote, #social cite {
	font-family: Georgia, Times, serif;
	font-size: 16px;
	line-height: 180%;
	font-style: italic;
}
#social cite {
	text-align: right;
	display: block;
}
cite a {
	text-decoration: none;
	color: #666;
}
cite a img {
	margin-bottom:-3px;
}
#marketing {
	background:transparent url('http://webimages.mailchimp.com/img/home/illus_eventbrite.gif') no-repeat scroll right top;
	height:220px;
	padding:0 32px 32px;
}
#social h2, #marketing h2 { 
    background-image: url('http://webimages.mailchimp.com/img/home/headlines.gif'); 
    background-color: transparent; 
    background-repeat: no-repeat;
	text-indent: -9999px;
	margin-bottom: 15px;
}  
#marketing h2 { 
    height: 49px; 
    width: 327px; 
    background-position: 0px 0px;
} 
#social h2 { 
    height: 42px; 
    width: 458px; 
    background-position: -327px 0px; 
}
h2 sup {
	font-size: 65%;
	margin-bottom: 50%;
}
#marketing p {
	width: 300px;
}
#mailchimp_customers h2, #learn_more h2 {
	font-family: Georgia, Times, serif;
	font-style: italic;
	padding-bottom: 6px;
	color: #666;
	font-size: 18px;
	border-bottom: solid 1px #CCC;
	margin-bottom: 12px;
	font-weight: normal;
	text-align: left;
}
#learn_more {
	clear: both;
	margin-top: 35px;
	width: 958px;
	margin: 0 auto;
	position: relative;
	height: 210px;
	font-size: 14px;
	margin-bottom: 80px;
}
#learn_more h2 {
        margin-bottom: 32px;
}
#learn_more h3 {
	font-size: 18px;
	margin-bottom: 6px;
	font-family: "Trebuchet MS",serif;
	font-size: 20px;
	color: #336699;
        font-weight: bold;
}
#learn_more img {
	float: left;
	margin: 6px 8px 0 0;
	position: relative;
}
#learn_more a {
	display: block;
	font-style: italic;
	font-weight: bold;
	margin-top: 30px;
}
#learn_more a:link, #learn_more a:visited, #learn_more a:active {
	color: #666;
	text-decoration: none;
}
#learn_more a:hover {
	color: #333;
	text-decoration: underline;
}
#api, #chimpcharts, #labs, #webinars, #templates {
	width: 215px;
	float: left;
	margin-right: 25px;
}
#webinars {
	margin: 0;
}
#mailchimp_customers {
	margin-bottom: 36px;
	text-align: center;
        clear: both;
}
#mailchimp_customers img {
	margin: 0 18px;
}
#mailchimp_customers h2 a {
	color: #666;
	text-decoration: none;
}

/* Footer Styles */
#footer_top {
	width: 100%;
	border-bottom: 1px solid #3d70a3;
	float: left;
	height: 180px;
}
#footer_top p {color: #666;}
#footer_top h2 {
	border-bottom: 1px solid #B38B64;
	color: #E8D2B8;
	padding-bottom: 4px;
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 5px;
}
#footer_bottom {
	background: #69a3d3 url(http://webimages.mailchimp.com/img/classic/footer_bottom_bg.gif) repeat-x 0 0;
	width: 100%;
	border-top: 1px solid #7eabd8;
	clear: both;	
}
.footer_content {
	width: 958px;
	position: relative;
	margin: 0 auto;
}
.footer_content .section {
	float: left;
	margin: 0;
}

#twitter {
	width: 305px;
        height: 146px;
	position: relative;
        margin: 0;
}
p.tweet {
	background: url(http://webimages.mailchimp.com/img/twitter_bg.gif) no-repeat 0 0;
	display: block;
	font-family: georgia;
	font-style:italic;
	margin: 0 !important;
	padding: 6px 0 0 14px;
	width: 296px;
        min-height: 60px;
        line-height: 18px;
}
p.tweet a {
	color:#666666;
        display:block;
        font-size:12px;
        font-weight:normal;
        text-decoration:none;
        width:280px;
}
#follow_link {
	background: url(http://webimages.mailchimp.com/img/twitter_bg_bottom.gif) no-repeat 0 0;
    height: 18px !important;
    width: 135px !important;
	color:#666;
	padding: 15px 0 0 175px;
	margin: 0 ;
}
#follow_link p {
	float: left;
	margin: 1px 6px 0 0;
    font-size: 13px !important;
}
#follow_link a {
	background: none;
	margin: 0 0 0 2px;
	padding: 0;
}

ul.api_plugins {
	float: left;
	padding: 12px 0;
}
ul.api_plugins li {
	float: left;
	margin: 0;
	padding: 0;
}
ul.api_plugins li a {
	color: #FFFFFF;
	float: left;
	font-size: 12px;
	padding-bottom: 2px;
	text-decoration: none;
	width: 100%;
}
ul.api_plugins li a.api {
	background: url(http://webimages.mailchimp.com/img/classic/api_btn_bg.gif) no-repeat 0 0;
	width: 43px;
	height: 24px;
	padding-top: 1px;
	text-align: center;
	text-shadow: 1px 1px 0px #6789aa;
	margin-right: 10px;
}
ul.api_plugins li a.plugins {
	background: url(http://webimages.mailchimp.com/img/classic/plugin_btn_bg.gif) no-repeat 0 0;
	width: 137px;
	height: 24px;
	padding-top: 1px;
	text-align: center;
	text-shadow: 1px 1px 0px #6789aa;
}

ul.policies_notices {
	float: right;
	padding: 15px 0;
}
ul.policies_notices li {
	line-height: 1.5em;
	float: left;
	margin: 0 0 0 18px;
	padding: 0;
}
ul.policies_notices li a {
	color: #d2e1f1;
	float: left;
	font-size: 12px;
	padding-bottom: 2px;
	text-decoration: none;
	width: 100%;
}
ul.policies_notices li a:hover {
	color: #FFF; 
	text-decoration: underline;
}

#terms_privacy {
	width: 132px;
}

/* Footer Copyright */
p.copyright {
	clear: both;
	color: #d2e1f1;
	font-size: 10px;
	text-align: center;
	padding: 30px 0 10px;
	margin: 10px 0 0 0;
}
.copyright a:link, .copyright a:visited, .copyright a:active, .copyright a:hover {
	color: #FFF;
	text-decoration: none;
}
.copyright a:hover {
	text-decoration: underline;
}

#memberships {
	background: url(http://webimages.mailchimp.com/img/classic/footer_nav_border.png) no-repeat 0 0;
	text-align: center;
	padding: 20px 0 0 0;
    clear: both;

}
#memberships a {
	margin: 10px 15px;
}

#footer_signup {
	text-align: left;
	margin-right: 9px;
        width: 310px;
}
#footer_signup p, #subscribe p, #twitter p {
	font-size: 16px;
	margin-bottom: 12px;
}
#footer_signup p {
	margin-left: 6px;
}
#footer_signup a {
	background: url(http://webimages.mailchimp.com/img/signup_btn_footer.gif) no-repeat 0 0;
	display: block;
	height: 39px;
        width: 212px;
	padding-top: 17px;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 2px 2px 0px #b47e3a;
	font-size: 20px;
    text-align: center;
}

/* Subscribe Box in Footer */
#subscribe {
	margin: 0 20px 0 0;
	color: #FFF;
	width: 310px;
}
#subscribe a { padding:2px 9px 2px 4px;color:#666;text-decoration:none;}
#subscribe-form { margin-top:0px; position: relative; padding: 0 !important;}
#subscribe-form label { display:block;float:none;color:#666;text-align:left; }
#subscribe-form input { float:left;margin:0;font-size:12px; }
#signup-response { float:left;clear:both; width:90%; margin: 6px 0 4px; }
#signup-response li { margin-left:0;list-style:none; }
#subscribe-form label {
	display: block;
	width: auto;
}
#subscribe-form ul {
  display: block;
  clear: both;
}
#email-field {
	display: block;
	background: url(http://webimages.mailchimp.com/img/search-input_footer.gif) no-repeat 0 0;
	height: 24px;
	width: 204px;
	border: none;
	margin: 0;
	padding: 7px 0 0 10px;
	float: left;
    color: #333;
}
#subscribe-button {
	background: url(http://webimages.mailchimp.com/img/submit_btn_footer.gif) no-repeat 0 0;
	height: 31px;
	border: none;
	padding: 0 !important;
	color: #9c9893;
	font-size: 11px !important;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    width: 75px;
    position: absolute;
    top: 0;
    right: 21px;
}
ul#interest-groups {
  display: block;
  margin:12px 0 0 20px;
  list-style: none;
  padding: 0;
}
ul#interest-groups li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
  list-style: none;
}
ul#interest-groups li label input {margin-right: 5px;}
li label, #subscribe-form input {
  float: none;
}
p.newsletter_privacy {font-size: 11px !important; font-weight: normal !important;clear:both; margin-left: 1px; padding: 5px 0 0 0;}

/* Form Messaging */
/* Success,error & notice boxes for messages and errors. */
.error,.warning,.success{padding:10px 4px 10px 60px;margin-bottom:1em;border:1px solid #ddd;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;}
.error,.plan-response-error{background:#FBE3E4 url(http://webimages.mailchimp.com/img/icons/stop_24.png) no-repeat 14px 50%;color:#D12F19;border-color:#FBC2C4;}
.warning{background:#FFF6BF url(http://webimages.mailchimp.com/img/icons/flag_24.png) no-repeat 14px 50%;color:#817134;border-color:#FFD324;}
.success,#mc_success_msg{background:#E6EFC2 url(http://webimages.mailchimp.com/img/icons/success_24.png) no-repeat 14px 50%;color:#529214;border-color:#C6D880;}
.error a{color:#D12F19;}
.notice a{color:#817134;}
.success a{color:#529214;}
.success strong{color:#2a4d09;}
#mc_message{margin:4px 0 !important;padding:4px 8px 4px 0;}
#mc_message ul{margin:0;}
.mc_error_msg{margin:0 !important;padding:4px 8px;background:#FBE3E4;color:#D12F19;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;}
.mc_success_msg{display:block;margin:0 !important;padding:4px 8px;line-height:1.3em;font-weight:normal;background:#E6EFC2;color:#529214;-moz-border-radius:4px;border-radius:4px;-webkit-border-radius:4px;}

/*FancyZoom*/
#zoom_content{padding:10px;}
#zoom td, #zoom th{padding:0 !important;}